<!-- {{apiData | json}} -->
<!-- <div *ngFor="let item of apiData.data">
  <div>0000000</div>
  <div>{{ item.id }}</div>
  <div>{{ item.name }}</div>

  <div>{{ item.price }}</div>
  <div>{{ item.product_images[0] }}</div>
  <div *ngFor="let image of item.product_images; let i = index">
    {{ image }}
  </div>
  <div>{{ item.image_details[0]?.image }}</div>
  <div *ngFor="let image of item.image_details"> 
 {{image.image}}</div>
  <div *ngFor="let desc of item.details ">{{desc|json}}</div>

  <div>{{item.detailed_description}}</div>
 </div>  -->
<h1>my todos {{title}}</h1>



<div class="cards">
  <ng-container *ngFor="let item of apiData.data; let i = index">
    <div *ngIf="i < 3" class="card">
      <div>
        <div class="img"><img src="{{ item.product_images[1] }}" alt="" /></div>
        <div class="descriptions">
          <div class="status">
            <div class="id">Name :</div>
            <div class="value">{{ item.name }}</div>
          </div>
          <div class="status">
            <div class="id">Price :</div>
            <div class="value">{{ item.price }}</div>
          </div>
          <div class="status">
            <div class="id">Details :</div>
            <div class="desc value">{{ item.detailed_description }}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- <button (click)="apiCallOnClick()">get data</button> -->


<div class="container">






<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Todo List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



</div>

<router-outlet></router-outlet>
